@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<p>Welcome to the Clean Architecture sample application! : )</p>

<p>Please visit one of the following pages:</p>

<ul>
    <li>@Html.ActionLink("SimpleEntities", "Index", "simpleEntities")</li>
    <li>@Html.ActionLink("AnotherEntities", "Index", "anotherEntities")</li>
    <li>@Html.ActionLink("CompoundEntities", "Index", "compoundEntities")</li>
</ul>

